<main class="cities__main">
  <form class="search__form" method="GET">
    <legend>City Forecast</legend>
    <input type="search" name="city" placeholder="Enter city name" />
    <button type="submit">Search</button>
  </form>
  <section class="city__section--info">
    <h2 class="city">
      City Data:
    </h2>
    {{#if cityData.name}}
      <h3 class="city__title--data">Name: {{cityData.name}}</h3>
      <h3 class="city__title--data">Country: {{cityData.sys.country}}</h3>
      <h3 class="city__title--data">Wind Speed: {{cityData.wind.speed}}km</h3>
      <h3 class="city__title--data">Temp: {{cityData.main.temp}}째</h3>
      <h3 class="city__title--data">Feels Like:
        {{cityData.main.feels_like}}째</h3>
      <h3 class="city__title--data">Temp Min: {{cityData.main.temp_min}}째</h3>
      <h3 class="city__title--data">Temp Max: {{cityData.main.temp_max}}째</h3>
      <h3 class="city__title--data">Pressure: {{cityData.main.pressure}}</h3>
      <h3 class="city__title--data">Humidity: {{cityData.main.humidity}}</h3>
    {{else}}
      <h3>
        No results found :(
      </h3>
    {{/if}}
  </section>
</main>